<div class="container">
  <h1>Stupid Coaching</h1>
  <p> Ask your coach anything:
    <form action="/answer" method= "get" data-turbo="false">
      <input type="text" name="input">
      <input type="submit" value="Ask!">
    </form>
  </p>
</div>
